/* ________ RESET ________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ________ REGOLE GENERALI ________ */
body {
  font-family: 'Roboto', sans-serif;
}

/* ________ TEMPLATE LIST ITEM ________ */
.item {
  background: yellow;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  padding: 10px;
}
